{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<h2>Jump Bike Data for Sacramento</h2>

<p>This site is a hobby project I created just to see what is happening with the Jump Bike system in the Sacramento area</p>
<p>The information is updated every few minutes using data provided by Jump through the Jump Bike developer API which is documented <a href="https://app.socialbicycles.com/developer/">here</a>.</p>
<p>I'm really just getting started on this and the data collection only began today, August, 10 2018. I have plans for more detailed reporting soon.</p>

<div id="summary_data" style="background-color:#ddd;width:220pt;padding:10pt;margin-top:10pt;">
    <h4 style="margin-bottom:6pt;">Summary Report:</h4>
    <p class="caption" style="font-style:italic;font-size:90%;">(Latest data retrieval: {{data.retrieval_date}})</p>
    <p>Total Bikes: {{ data.bikes }}</p>
    <p>Bikes Currently Available: {{ data.available }}</p>
    <p>Total Trips: {{ data.trips }}</p>
</div>

<div id="monthly_data">
    <style>
        .num {
            text-align:right;
        }
        .city_name {
            font-weight:800;
            min-width:120pt;
        }
        th {
            font-weight:800;
            background-color:#ddd;
            max-width:80pt;
        }
        
    </style>
    {% if report_data %}
        <h3>Monthly Report</h3>
        {% for month in report_data %}
        <h4>Data for {{ month['month_name']}} ({{ month['days_in_month'] }} days)</h4>
        <table>
            <tr>
                <th>City</th>
                <th>Bikes Observed</th>
                <th>Trips Taken</th>
                <th>Avg. Bikes Available</th>
                <th>Avg. Trips per Day</th>
                <th>Avg. Trips per Bike per Day</th>
            </tr>
            {% for city in month['cities'] %}
            <tr>
                <td class="city_name">{{ city['city'] }}</td>
                <td class="num">{{ city['city_bikes'] }}</td>
                <td class="num">{{ city['city_trips'] }}</td>
                <td class="num">{{ city['avg_bikes_available'] }}</td>
                <td class="num">{{ city['trips_per_day'] }}</td>
                <td class="num">{{ city['trips_per_bike_per_day'] }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
    {% endif %}
    <p class="caption" style="font-style:italic;font-size:90%;margin-top:10pt;">
        * Network Wide counts may not equal the total of all 
        city counts because some trips end in a city other than the one they started in.
    </p>
</div>
{% endblock body %}