<div id="footer">
    <p>
        This site includes information derived from data provided by Jump Bikes. Had I taken the time to read the terms of use, I suspect
        it would have said something about remaining their property, which seems only fair. The information is provided
        here for non-commercial purposes by a guy who doesn't always know what he's doing and as such should not be relied on for anything you care about.
    </p>
    <p>Your milage may vary. Close cover before striking.</p>
</div>